name: Mirror to GitLab

on:
  push:
    branches:
      - main

jobs:
  mirror:
    name: Push to GitLab
    runs-on: ubuntu-latest
    steps:
      - name: Checkout full history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git remote add gitlab-mirror https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/Greg.Aster/merkin.git
          git push gitlab-mirror main --force
